.content-accordion {
    margin: 20px;
}

button {
    border-radius: 20px;
}

.button-action {
    color: white;
}

.button-upload {
    border: 2px solid lightgray;
}

.mat-action-row {
    display: block;
}

p{
    margin: 12px 0 12px;
}